
.cli{
    border-bottom: 1px solid var(--ion-color-danger);
    margin-bottom: 5%;
}

#map_canvas {
    width: 90%;
    height: 30%;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.icon{
    margin-right: 10px;
}
