<ion-card style="max-height: 350px;" class="card">

  <ion-item classs="text-center">
    <h5>ELECCION DE PEDIDO</h5>
  </ion-item>

  <ion-card-content>
    <p>Estimado Cliente que desea pedir?.</p>
  </ion-card-content>

  <ion-row>
      <ion-col size="12" >
        <img src="assets/botalmuerzos.png" (click)="tradicional()">
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" >
      <img src="assets/botplatespeciales.png" (click)="especial()">
    </ion-col >
  </ion-row>
</ion-card>


